body {
  font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
}


.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 670px;
  background-image: url(https://1.bp.blogspot.com/-_B1NQqcUjG4/X58l93-TU-I/AAAAAAAAIAc/D464CPe7jjEm0XrZ7HNSNE8CsUPE2GBfQCLcBGAsYHQ/s960/background-ppt-white-shades.jpg);
  background-size: 100%;
}

.content {
flex: 1 1 auto;
}

.container {
max-width: 1170px;
margin: 0 auto;
}

.header__row {
display: flex;
justify-content: space-between;
}


.header__logo {
margin: 38px 0 0px 98px;
}

.header__menu {
margin: 45px;
}

.header__list {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;

}

.link{
  padding: 5px;
  color: black;
  transition: 0.3s;
}

.link:hover{
  color: #10c9c3;
}

.link:hover {
  border-bottom: 2px solid #10c9c3;
  transition: .1s
}

.section {

}

.container {

}

.section__row {
display: flex;
flex-direction: column;
align-items: flex-end;

}

.section__title {
  font-family: Montserrat;
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #1d1d1d;
  margin-top: 180px;
  margin-right: 145px;
}

.section__body {
  margin-top: 32px;
  margin-right: 124px;
max-width: 476px;
}

.section__text {
  font-family: 'Nunito Sans';
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
}

.section__btn {
  margin-top: 39px;
  width: 180px;
  height: 54px;
background-color: #10c9c3;

}

.btn {
display: block;
text-align: center;
  font-family: Montserrat;
font-size: 12px;
line-height: 55px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 0.1em;
color: #ffffff;
}

.footer {

}

.footer__row {

}

.footer__title {

}

.footer__date {

}
